*, div { margin: 0; padding: 0; font-family: Arial; line-height: 130%;}

/* design */
body {padding: 1em;}
h1 {border-bottom: 1px solid gray; margin-bottom: .5em;}
h1 img.logo {margin-right: .3em; width:1.5em; height: 1.5em;}
div.item {margin-bottom: .5em;}

/* dragging file info */
.fileinfo ul {list-style: none;}
.fileinfo span.numb {font-size: 1.5em;}

/* regex input boxes */
.regex .CodeMirror  {
  height: auto;
  border: 1px solid grey;
}

