*, div { margin: 0; padding: 0; font-family: Arial; line-height: 130%;}

/* design */
body {padding: 1em;}
h1 {border-bottom: 1px solid gray; margin-bottom: .5em;}
h1 img.logo {margin-right: .3em; width:1.5em; height: 1.5em;}
div.item {margin-bottom: .5em;}

/* dragging file info */
.fileinfo ul {list-style: none;}
.fileinfo span.numb {font-size: 1.5em;}

/* regex input boxes */
.regex input[type='text']  {
  font-family: consolas, monospace;
  font-size: 1.5em;
  width: 100%;
  -webkit-text-fill-color: transparent;
  box-sizing: border-box;
  border: 2px solid lightgray;
}

.regex label {display: block;}

.regex div.highlightWrap {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
 }

.regex div.highlightWrap div.highlight {
  border: 2px solid transparent;
  font-family: consolas, monospace;
  font-size: 1.5em;
  position: absolute;
  top: 0; left: 0;

  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}
.regex div.highlightWrap div.highlight span {
  font-family: inherit;
}

/* regex highlight */
.regex div.highlightWrap div.highlight span.escape {
  color: purple;
}
.regex div.highlightWrap div.highlight span.error {
  color: white;
  background: red;
}
.regex div.highlightWrap div.highlight span.brace {
  color: darkblue;
}