<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>dropReplacer</title>
    <link rel="stylesheet" href="../style/style.css">
  </head>
  <body>
    <h1><image class="logo" src="../images/dropReplacer_logo.png">Drag-drop files to rename</h1>
    <div class="fileinfo">
      <div class="item">
        <ul>
          <li><span class="dragging numb">0</span> files dragging over.</li>
          <li><span class="matching numb">0</span> files match.</li>
        </ul>
      </div>
    </div>
    <div class="regex">
      <div class="item">
        <label>Input regular expression (excludes extension)</label>
        <div class="highlightWrap inputRegex">
          <pre><div class="highlight">(.*)</div></pre>
          <input type="text" id="inputRegex" value="(.*)"/>
        </div>
      </div>
      <div class="item">
        <label>Output renaming rule</label>
        <div class="highlightWrap outputRegex">
          <pre><div class="highlight">$1 (renamed)</div></pre>
          <input type="text" id="outputRegex" value="$1 (renamed)"/>
        </div>
      </div>
    </ul>
    </div>
    <div class="history">
    </div>

  </body>

  <script>
    require('../renderer/index.js')
  </script>
</html>
